<a href="https://colab.research.google.com/github/Davron030901/Pandas/blob/main/01_07_sorted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# initialize names as a list containing the names of some people
names = ['Alondra', 'Spencer', 'Elizabeth', 'Eddie', 'Henrietta']

In [ ]:
# sort names in ascending alphabetical order & save in variable names_sorted_a
names_sorted_a =sorted(names)
names_sorted_a

['Alondra', 'Eddie', 'Elizabeth', 'Henrietta', 'Spencer']

In [ ]:
# note that names itself was not modified
names

['Alondra', 'Spencer', 'Elizabeth', 'Eddie', 'Henrietta']

In [ ]:
# sort names in descending alphabetical order & save in variable names_sorted_d
names_sorted_d = sorted(names,reverse=True)
names_sorted_d

['Spencer', 'Henrietta', 'Elizabeth', 'Eddie', 'Alondra']

In [ ]:
# note that names itself was not modified
names

['Alondra', 'Spencer', 'Elizabeth', 'Eddie', 'Henrietta']

In [ ]:
# initialize nums as a tuple containing some integers
nums = (5, -2, 7, -1, 9, 0)

In [ ]:
# sort nums in ascending order & save in variable nums_sorted_a
nums_sorted_a = sorted(nums)
nums_sorted_a

[-2, -1, 0, 5, 7, 9]

In [ ]:
# note that nums itself was not modified
nums

(5, -2, 7, -1, 9, 0)

In [ ]:
# sort nums in descending order & save in variable nums_sorted_d
nums_sorted_d = sorted(nums, reverse=True)
nums_sorted_d

[9, 7, 5, 0, -1, -2]

In [ ]:
# note that nums itself was not modified
nums

(5, -2, 7, -1, 9, 0)

In [ ]:
# initialize listF as a list containing some floating-point numbers
listF = [1.2, -6.17, -9.53, 5.8, -6.7]

In [ ]:
# sort listF in ascending order & save in variable listF_sorted_a
listF_sorted_a = sorted(listF)
listF_sorted_a

[-9.53, -6.7, -6.17, 1.2, 5.8]

In [ ]:
# note that listF itself was not modified
listF

[1.2, -6.17, -9.53, 5.8, -6.7]

In [ ]:
# sort listF in descending order & save in variable listF_sorted_d
listF_sorted_d = sorted(listF, reverse=True)
listF_sorted_d

In [ ]:
# note that listF itself was not modified
listF